In [2]:
import pandas as pd

# Load the data
iris = pd.read_csv('iris.csv')

# Display first few rows
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [14]:
# Create subsets
setosa = iris[iris['variety'] == 'setosa']
versicolor = iris[iris['variety'] == 'versicolor']
virginica = iris[iris['variety'] == 'virginica']

# Check sizes
print('Setosa:', setosa.shape)
print('Versicolor:', versicolor.shape)
print('Virginica:', virginica.shape)

Setosa: (0, 5)
Versicolor: (0, 5)
Virginica: (0, 5)

In [16]:
# Merge setosa and versicolor
merged = pd.concat([setosa, versicolor], axis=0)

# Check merged result
merged.head()

Empty DataFrame
Columns: [sepal.length, sepal.width, petal.length, petal.width, variety]
Index: []

In [20]:
# Sort by petal_length
sorted_iris = iris.sort_values(by='petal.length')

# Show top 5 sorted rows
sorted_iris.head()

    sepal.length  sepal.width  petal.length  petal.width variety
22           4.6          3.6           1.0          0.2  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
36           5.5          3.5           1.3          0.2  Setosa

In [22]:
# Transpose the DataFrame
transposed = iris.T

# Display transposed data
transposed.head()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal.length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal.width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal.length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal.width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
variety,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,Setosa,...,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica,Virginica

In [26]:
# Melt the data (wide to long)
melted = pd.melt(iris, id_vars=['variety'], var_name='measurement', value_name='value')

# Show melted data
melted.head()

  variety   measurement  value
0  Setosa  sepal.length    5.1
1  Setosa  sepal.length    4.9
2  Setosa  sepal.length    4.7
3  Setosa  sepal.length    4.6
4  Setosa  sepal.length    5.0

In [28]:
# Pivot (cast) the melted data back to wide format
wide = melted.pivot_table(index=iris.index, columns='measurement', values='value')

# Reset index to make it clean
wide = wide.reset_index(drop=True)

# Show wide data
wide.head()

ValueError: Grouper and axis must be same length